body {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    padding: 0;
}

nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    color: black;
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

.header {
    background-color: #fff;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: -20px;
}

.header_inner {
    width: 100%;
    /* Để logo và menu chiếm toàn bộ width */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Chỉnh lại style cho menu */
.menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1490px) {
    .menu {
        display: none;
    }

    .menu-icon {
        color: black;
        display: block;
        /* Hoặc display: inline; hoặc display: inline-block; */
        font-size: 1.5em;
        cursor: pointer;
    }

    .menu.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        /* Đặt màu nền trắng */
        top: 100px;
        left: 0;
        right: 0;
        z-index: 2;
        transition: .25s linear;
    }
}

.menu_item {
    margin: 0 1rem;
    /* Giới hạn chiều rộng tối đa của menu_item */
    max-width: 200px;
    white-space: nowrap;
    /* Ngăn chữ xuống dòng */
    /* Ẩn nội dung bị tràn */
    text-overflow: ellipsis;
    /* Hiển thị dấu ba chấm (...) khi nội dung bị tràn */
}

.menu_item a {
    font-size: 0.8rem;
}

.menu_item:hover .menu_child {
    /* opacity: 1;
    visibility: visible; */
}

.menu_child {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: .25s linear;
}

.menu_child-item {
    width: 100%;
    padding: 2rem;
}

.menu_child-item h4 {
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

.menu_child-item h4 a {
    text-decoration: underline;
    color: black;
}

.menu_child-item h4 a:hover {
    color: #993300;
}

.menu_child-list li a {
    color: gray;
}

.menu_child-list li a:hover {
    color: #993300;
}

.menu_child-item li {}

.menudoc {
    width: 300px;
}

.menudoc .menu_child-list {
    padding-left: 7rem;
}

.menu-link {
    color: black;

}
